<launch>
  <!-- 使用 Gazebo 仿真时间 -->
  <param name="use_sim_time" value="true"/>

  <!-- 1. 加载模型到参数服务器 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find my_robot_description)/urdf/robot.xacro'" />

  <!-- 2. 启动 Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- 3. 将模型放入 Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -model my_robot" />

    <!-- 读取 urdf 文件并发布 TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="use_sim_time" value="true"/>
    </node>

    <!-- 发布关节状态  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <!-- <param name="use_sim_time" value="true"/> -->
    </node>

</launch>
